@import url('https://fonts.googleapis.com/css?family=Press Start 2P');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d3242;
  font-family: 'Press Start 2P', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'Sans-serif'
}

p {
  margin: 20px 0;
}

h1{
  margin-bottom: 30px;
  font-size: 25px;
}

#start-page,
#final-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
  background: #757F9A;
  background: linear-gradient(0deg,#757F9A, #D7DDE8);
  color: white;
}

#select-enemy,
#select-page {
  height: 600px;
  width: 1000px;
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
  background: #757F9A;
  background: linear-gradient(0deg,#757F9A, #D7DDE8);
  color: white;
}

#select-enemy img,
#select-page img{
  width: 90px;
  height: 130px;
}

#select-enemy main div,
#select-page main div{
  background: #6b87d4f5;
  width: 600px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
}

#select-page main h1{
  display: inline;
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #1856ff, 0 0 30px #1856ff, 0 0 40px #1856ff, 0 0 55px #1856ff, 0 0 75px #1856ff;  
}

#select-enemy main h1{
  display: inline;
  color: #ffffff;
  text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

#select-enemy main div{
  background: rgba(255, 139, 7, 0.39);
}

button#start,
button#start-again {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  margin: 20px 0;
  background-color: lightgoldenrodyellow;
}

button#start-again{
  margin-bottom: 40px;
}

button#start:hover,
button#start-again:hover {
  background: linear-gradient(to right, #000000, #434343);
  color: white;
}

#final-page {
  display: none;
}

#final-page h1{
  margin-top: 40px;
}

#start-page > main > img:first-child{
  height: 65px;
  margin-bottom: 60px;
}

#howplay{
  margin-left: 40px;
  height: 140px;
  display: block;
  margin-bottom: 40px;
}

#endImg{
  height: 250px;
  display: block;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background-size: cover;
  margin-bottom: 50px;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}